:root {
	/* color scheme */
	--color-1: hsl(43, 74%, 64%);
	--color-2: hsl(197, 37%, 22%);
	--color-3: hsl(12, 76%, 60%);
	--color-4: hsl(43, 76%, 95%);
	--color-5: hsl(173, 50%, 45%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	font-family: sans-serif;
	background: var(--color-1);
	display: inline-block;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 36px;
	padding: 0;
	color: var(--color-2);
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 1rem;
}

#demo {
	text-align: center;
	font-size: 18px;
	color: var(--color-2);
	letter-spacing: 1px;
	font-style: italic;
	margin-bottom: 2rem;
}

.piano {
	background-color: var(--color-3);
	margin-bottom: 2rem;
}

.key {
	display: inline-block;
	border: 2px solid var(--color-2);
	background-color: var(--color-4);
	color: var(--color-2);
}

.black-key {
	width: 35px;
	height: 150px;
	background: var(--color-2);
	box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.25), -2px -2px 2px 0 inset rgba(255, 255, 255, 0.25);
	color: var(--color-4);
	position: absolute;
	margin-left: -17.5px;
}

.white-key {
	width: 40px;
	height: 230px;
	box-shadow: inset 4px 4px 2px 0 rgba(0, 0, 0, 0.15), inset -4px -4px 2px 0 rgb(0, 0, 0, 0.05);
}

.keynote {
	text-align: center;
	margin-top: 205px;
	color: var(--color-2);
}

.black-keynote {
	text-align: center;
	margin-top: 125px;
}

#lyrics {
	width: 470px;
	display: flex;
	margin: 0 auto;
	gap: 10px;
	flex-wrap: wrap;
	padding: 20px;
	background-color: var(--color-3);
}

.column {
	display: inline-block;
	text-align: center;
}

.word {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 40px;
	color: var(--color-2);
	background-color: var(--color-4);
	letter-spacing: 5px;
}

.letter {
	color: var(--color-4);
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
}

.next {
	width: 100px;
	height: 40px;
	font-size: 16px;
	border: none;
	box-shadow: inset 4px 4px 2px 0px hsla(20, 50%, 50%, 0.25), inset -4px -4px 2px 0 hsla(0, 0%, 100%, 0.25);
	background-color: var(--color-1);
	color: var(--color-2);
	letter-spacing: 1px;
	cursor: pointer;
}